* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background: #4A90E2;
  height: 64px;
  position:fixed;
  display: flex;
  align-items: center;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 42px;
}

header > div {
  width: 100%;
}

a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  font-family: Helvetica, sans-serif;
}

